/* 3D Model Styling */

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff; /* Change the button background color as needed */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; /* Change the button hover color as needed */
}

.red-text {
    color: red;
}

.moving-text {
    color: red;
    animation: moveText 2s infinite; /* You can adjust the duration and behavior as needed */
}

@keyframes moveText {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px); /* Adjust the distance and direction of movement */
    }
    100% {
        transform: translateX(0);
    }
}


.sc-body-model {
    max-width: 100%; /* Set the maximum width to the full width of the container */
    max-height: 100%; /* Set the maximum height to the full height of the container */
    flex: 1; /* Allow the body model container to grow and take up remaining vertical space */
}

.sc-body-model-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure the container takes up the full height of the parent row */
    margin-top: 20px; /* Adjust the top margin as needed */
}
