.footer-container {
    background-color: #19232d;
    color: #5a7184;
}

.footer-mainlogo {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.footer-social-icon-bg {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #202b36;
    padding: 5px;
    margin: 3px;
    padding-left: 12px;
    padding-top: 8px;
    margin-bottom: 9px;
}

.footer-text {

    font-family: Roboto;
    margin: 10px;
    color: white;
}

.footer-heading {
    font-size: 19px;
    font-family: Roboto;
    font-weight: 600;
    margin: 10px;
}

.footer-logos {
    margin: 7px;
    margin-right: 8px;
}

.footer-line {
    margin-top: 10px;
    background-color: #959ead;
}