@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.banner-section-bg-container {
    background-image: URL("https://live.staticflickr.com/65535/53216717231_923f1abb0e_b.jpg");
    background-size: cover;
    padding: 40px;
    height: 70vh;
}
.bgCont{
    min-height: 65vh;
}

.main-heading-text {
    flex: none;
    height: auto;
    position: relative;
    width: 100%;
}

.access-button {
    color: #FFFDD0;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFDD0;
    border-radius: 8px;
}

.main_container {
    background-color: lightblue;
    padding: 25px;
    height: 100vh;
}

.main_image {
    width: 90vw;
}

.inputForm {
    border-width: 1px;
    border-style: Solid;
    border-radius: 10px;
    margin: 30px;
    width: 650px;
}

.labelText {
    font-family: Montserrat;
    font-size: 25px;

}

.errorMsg {
    font-size: 13px;
    color: red;
    font-family: Roboto;
}

/* Nav bar styling */
.align-right {
    margin-left: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar-toggler {
    order: -1;
}
.nav-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
#search-icon,
#user-icon,
#cart-icon
 {
    font-size: 20px;
    margin-right: 5px;
}


.step {
    display: none;
}

.step.active {
    display: block;
}

.custom-outline-button1 {
    color: black;
    background-color: transparent;
    backdrop-filter: blur(3px);
    width: 110px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    margin-right: 10px;
}

.button-container {
    background-color: white; /* Or set any other desired background color */
    padding: 50px;
    margin-top: 20px; 
    border-radius: 8px; /* Rounded corners */
    min-width: 50vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


