{% extends 'base.html' %}
{% load static %} 

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ayurMart.css' %}">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://app.wotnot.io/chat-widget/7aShk3YYCcWF173117878006Ky5zIFVu.js" defer></script>
    <script src="https://kit.fontawesome.com/2bc02a5da9.js" crossorigin="anonymous"></script>  
{% endblock %}


{% block body %}

<!-- navbar -->
<div id="app"></div>
<marquee class="card-paragraph card-special-paragraph" behavior="scroll" direction="left">Currently Building only for Educational purposes as a project for Smart India Hackathon. Built and maintained by Team AyurBharat.</marquee>
<div class="under-construction-container text-center">
    <div class="message">
        <h1 class="red-text">Under Maintenance</h1>
        <p class="red-text moving-text">We're working on something awesome. Please check back later.</p>
    </div>
</div>


<!--Dynamic code appending spot-->
<div class="d-flex justify-content-center flex-column mb-4">
    <div class="container mt-5">
        <div class=" d-flex justify-content-center flex-column mb-4">
            <div class="container">
                <div class="row" id="mart-container">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var homepageURL = "{% url 'homepage' %}";
    var inputPageURL = "{% url 'inputpage' %}";
    var ayurDoctorURL = "{% url 'ayurdoctor' %}";

    var dModelURL = "{% url 'dmodel' %}";
const links = [
    { text: 'Home', url: homepageURL, color: '#1d2f4e' },
    { text: 'Analyse Problem', url: inputPageURL, color: '#1d2f4e' },
    { text: 'Consult a doctor', url: ayurDoctorURL, color: '#1d2f4e' },

    { text: '3D Model', url: dModelURL, color: '#1d2f4e' }
]; </script>
    <script src="{% static 'js/ayurMart.js' %}"></script> 
{% endblock %}
