{% extends 'base.html' %}
{% load static %} 

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboardPage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dropDown.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loginSignup.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/2bc02a5da9.js" crossorigin="anonymous"></script>  
{% endblock %}

{% block body %}
<script src="{% static 'js/dashboardPage.js' %}"></script> 
<!-- navbar -->
<div id="app"></div>


<div class="under-construction-container text-center">
    <div class="message">
        <h1 class="red-text">Under Maintenance</h1>
        <p class="red-text moving-text">We're working on something awesome. Please check back later.</p>
    </div>
</div>
<script src="{% static 'js/loginSignup.js' %}"></script> 
<script>
    var homepageURL = "{% url 'homepage' %}";
    var inputPageURL = "{% url 'inputpage' %}";
    var ayurDoctorURL = "{% url 'ayurdoctor' %}";
    var ayurMartURL = "{% url 'ayurmart' %}";
    var dModelURL = "{% url 'dmodel' %}";
const links = [
    { text: 'Home', url: homepageURL, color: '#1d2f4e' },
    { text: 'Analyse Problem', url: inputPageURL, color: '#1d2f4e' },
    { text: 'Consult a doctor', url: ayurDoctorURL, color: '#1d2f4e' },
    { text: 'Ayurmart', url: ayurMartURL, color: '#1d2f4e' },
    { text: '3D Model', url: dModelURL, color: '#1d2f4e' }
]; </script>

{% endblock %}