{% extends 'base.html' %}
{% load static %} 

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboardPage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dropDown.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loginSignup.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/2bc02a5da9.js" crossorigin="anonymous"></script>  
{% endblock %}

{% block body %}
<script src="{% static 'js/dashboardPage.js' %}"></script> 
<!-- navbar -->
<nav class="navbar navbar-expand-lg" style="background-color: #F8F8F8;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://live.staticflickr.com/65535/53217076980_d733d6cd73_w.jpg" width="50" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
            <ul class="navbar-nav fw-bold">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inputpage' %}" style="color: #1d2f4e;">Analyse Problem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ayurdoctor' %}" style="color: #1d2f4e;">Consult a doctor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ayurmart' %}" style="color: #1d2f4e;">Ayurmart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dmodel' %}" style="color: #1d2f4e;">3D Model</a>
                </li>
                <li class="nav-item dropdown">
                    <i class="fa-solid fa-user " id="user-icon" style="color: #1d2f4e;"></i>
                    <div class="dropdown-content">
                        <!-- Dropdown menu items go here -->
                        <a class="nav-link open-login-button" onclick="openLoginForm()" style="color: #1d2f4e;">Log<span style="color: MediumSeaGreen;">in</span></a>
                        <a class="nav-link open-signup-button" onclick="openSignupForm()" style="color: #1d2f4e;">Sign<span style="color: MediumSeaGreen;">up</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="under-construction-container text-center">
    <div class="message">
        <h1 class="red-text">Under Maintenance</h1>
        <p class="red-text moving-text">We're working on something awesome. Please check back later.</p>
    </div>
</div>


{% endblock %}