{% extends 'base.html' %}
{% load static %} 

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://app.wotnot.io/chat-widget/7aShk3YYCcWF173117878006Ky5zIFVu.js" defer></script>
    <script src="https://kit.fontawesome.com/2bc02a5da9.js" crossorigin="anonymous"></script>  
{% endblock %}


{% block body %}


<!-- navbar -->


<div id="app"></div>



<!-- text section -->

<div class="banner-section-bg-container d-flex justify-content-center flex-column">
    <div class="text-center">
        <h1 class="banner-heading mb-3">Ayur Bharat</h1>
        <p class="banner-caption mb-4">One stop solution for your problem</p>
        <div class="msg" style="color: white;">{{ msg }}</div>
        <a href="{% url 'inputpage' %}"><button class="custom-outline-button" id="tryNow">Try Now!</button></a>

        <!-- Start of ChatBot (www.chatbot.com) code -->
        <script src='https://app.wotnot.io/chat-widget/7aShk3YYCcWF173117878006Ky5zIFVu.js' defer></script>
        <!-- End of ChatBot code -->
    </div>
</div>





<!-- why choose us section -->
    <div class="wcu-section pt-5 pb-5" id="wcuSection">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="wcu-section-heading">Why Choose Us?</h1>
                    <p class="wcu-section-description">
                        We analyse your epidemic accurately and give Remidies accordingly through our Machine learning model.
                    </p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="wcu-card p-3 mb-3 hover-effect">
                        <i class="fas fa-brain fa-4x"></i>
                        <h1 class="wcu-card-title mt-3">Ayurvedic Recommendations</h1>
                        <p class="wcu-card-description">
                            The system provides a list of Ayurvedic recommendations based on the user's
                            search query.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4 ">
                    <div class="wcu-card p-3 mb-3 hover-effect">
                        <i class="fas fa-info fa-4x"></i>
                        <h1 class="wcu-card-title mt-3">Detailed Formulation</h1>
                        <p class="wcu-card-description">
                            Users can access detailed formulation of recommended remedy,
                            upon subscription ensuring detailed understanding.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="wcu-card p-3 mb-3 hover-effect">
                        <i class="fas fa-tag fa-4x"></i>
                        <h1 class="wcu-card-title mt-3">Made Customised</h1>
                        <p class="wcu-card-description">
                            Users can even buy the remedy from us by payment which is available on
                            multiple options such as Cash on Delivery and Online transaction.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="wcu-card p-3 mb-3 hover-effect">
                        <i class="fas fa-robot fa-4x"></i>
                        <h1 class="wcu-card-title mt-3">Customer Support</h1>
                        <p class="wcu-card-description">
                            They can track their order. Take help using our chat bot and manby more.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="wcu-card p-3 mb-3 hover-effect">
                        <i class="fas fa-question fa-4x"></i>
                        <h1 class="wcu-card-title mt-3">Know why?</h1>
                        <p class="wcu-card-description">
                            Know detailed cause of illness and get tips to avoid in case of minor illness.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="wcu-card p-3 mb-3 hover-effect">
                        <i class="fas fa-user-md fa-4x"></i>
                        <h1 class="wcu-card-title mt-3">Expert Consultation</h1>
                        <p class="wcu-card-description">
                            Get one on one expert opinion from famous ayurvedic doctor based on your illness sevearity.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        var inputPageURL = "{% url 'inputpage' %}";
        var ayurDoctorURL = "{% url 'ayurdoctor' %}";
        var ayurMartURL = "{% url 'ayurmart' %}";
        var dModelURL = "{% url 'dmodel' %}";
const links = [
        { text: 'Analyse Problem', url: inputPageURL, color: '#1d2f4e' },
        { text: 'Consult a doctor', url: ayurDoctorURL, color: '#1d2f4e' },
        { text: 'Ayurmart', url: ayurMartURL, color: '#1d2f4e' },
        { text: '3D Model', url: dModelURL, color: '#1d2f4e' }
    ]; </script>
{% endblock %}
