{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/outputpage.css' %}">

    <script src="https://kit.fontawesome.com/2bc02a5da9.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}



<div id="app"></div>
<!--Dynamic code appending spot-->
<div class="banner-section-bg-container d-flex justify-content-center flex-column mb-4">
    <div class="container mt-5">
        <div class=" d-flex justify-content-center flex-column mb-4">
            <div class="container">
                <div class="row" id="main-container">
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var predictionsData = {{ predictions|safe }};
</script>

<script src="{% static  'js/outputpage.js' %}"></script>

<script>
    var homepageURL = "{% url 'homepage' %}";
    var inputPageURL = "{% url 'inputpage' %}";
    var ayurDoctorURL = "{% url 'ayurdoctor' %}";
    var ayurMartURL = "{% url 'ayurmart' %}";
    var dModelURL = "{% url 'dmodel' %}";
const links = [
    { text: 'Home', url: homepageURL, color: '#1d2f4e' },
    { text: 'Analyse Problem', url: inputPageURL, color: '#1d2f4e' },
    { text: 'Consult a doctor', url: ayurDoctorURL, color: '#1d2f4e' },
    { text: 'Ayurmart', url: ayurMartURL, color: '#1d2f4e' },
    { text: '3D Model', url: dModelURL, color: '#1d2f4e' }
]; </script>
{% endblock %}